//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap/';
//$background-color: #4e4e4e;
//$font-color: #dfdfdf;
//$white: #fff;
//$grey: rgb(128, 128, 128);
//$teal: rgb(0, 156, 161);
//$black: #000;
h1 {
  color: red;
  text-align-last: center;
}

/*new game button */

#newGame {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}

header {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

main {
  position: relative;
  background-color: black;
  top: 300px;
}

main button {
  margin-top: 350px;
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-size: 3em;
  font-weight: bold;
}

main button.top {
  top: 0;
}

main button.middle {
  top: 105px;
}

main button.bottom {
  top: 210px;
}

main button.left {
  left: 0;
}

main button.center {
  left: 105px;
}

main button.right {
  left: 210px;
}

/*h3 displays the scores of the games */

h3 {}

/*h2 displays the game message - win, tie, etc.*/

h2 {
  background-color: yellow;
  height: 75px;
  width: 300px;
}

.sign-up {
  position: sticky;
  width: 50%;
  bottom: 300px;
}

.modal {
  float: left;
  width: 50px;
  height: 50px;
}

.border {
  width: 25%;
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}

#message {

  padding: 30px 60px;
}
